*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.confirm-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.confirm-list-product-info {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.confirm-list-product {
  width: 52vw;
  height: 102vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.produit-container {
  width: 30vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
